.right_side {
    padding: 4em 4em;
    width: 70%;

    background-color: rgb(255, 255, 255);
}

.summary {
    margin-top: 2em;
}

.summary hr {
    margin-top: 6px;
    background-color: black;

}

.summary h1 {
    margin-top: 1em;
    background-color: black;
}

.summary p {
    margin-top: 1em;
    font-weight: 300;
    line-height: 26pt;
}

.skill {
    margin-top: 1em;
}

.skill hr {
    margin-top: 7px;
    background-color: black;
}

.skill div {
    margin-top: 2em;
    padding-left: 1em;
    display: flex;
}

.skill .left {
    padding-left: 3em;
    display: flex;
    flex-direction: column;
}

.skill .right {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

.experience {
    margin-top: 2em;
}

.experience hr {
    margin-top: 6px;
    background-color: black;
}

.experience h2 {
    display: flex;
    flex-direction: row;
}

.exp_flex {
    margin-top: 1em;
    display: flex;
}

.exp_right h4 {
    font-weight: 100;
}
.experience ul{
    margin-top: 1em;
    margin-left: 4em;
}
.education{
    margin-top: 1em;
}
.education hr{
    margin-top: 6px;
    background-color: black ;
}
.education div{
    margin-top: 1em;
    display: flex;
}
.certifications{
    margin-top: 2em;
}
.certifications hr{
    margin-top: 10px;
    background-color: black;
}
.certifications h3{
    margin-top: 1em;
}
.certifications p{
    margin-top: 1em;
}
.certifications span{
    font-weight: 550;
}