* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(128, 128, 128, 0.075);
    padding: 90px 40px;
}

.main_page {
    display: flex;
    width: 100%;
    height: fit-content;
    box-shadow: -6px -5px 20px rgba(128, 128, 128, 0.279);
}

.left_side {
    padding: 4em 4em;
    width: 30%;
    height: auto;
    background-color: rgba(104, 104, 104, 0.105);
}

.left_side h1,
h2 {
    margin-top: 1em;
    text-align: center;
}

.left_side img {
    margin-top: 2em;
    border-radius: 50%;
    width: 20em;
    height: 20em;

}

.img {
    text-align: center;
}

.contact {
    margin-top: 2em;
}

.contact h3 {
    padding-top: 10px;
    font-size: 1em;
}

.contact h5 {
    font-weight: 300;
    padding-top: 10px;
    font-size: 0.8em;
}

.contact hr {
    margin-top: 5px;
    background-color: black;
}

.language {
    margin-top: 1em;
}

.language h5 {
    font-weight: 300;
    margin-top: 1em;
}

.language hr {
    background-color: black;
    margin-top: 5px;
}

.hobbies {
    margin-top: 1em;
}

.hobbies li {
    margin-top: 1em;
    margin-left: 2em;
    font-weight: 300;
}

@media (max-width:1203px) {
    .left_side img {

        width: 13em;
        height: 13em;
    }

    .left_side {
        font-size: 14px;
    }

    .img {
        text-align: center;
    }

    
}
@media (max-width:700px) {
    .main_page {
        flex-direction: column;
    }
    .left_side{
        width: unset;
    }
}